//Colors
@primary: var(--v-primary-base);
@secondary: var(--v-secondary-base);
@accent: var(--v-accent-base);
@background: #25272e;
@backgroundDark: #0e0e11;
@backgroundLight: #5f6275;
@error: var(--v-error-base);
@info: var(--v-info-base);
@success: var(--v-success-base);
@warning: var(--v-warning-base);
@textColor: #efefef;

// Font weights
@semibold: 600;
@regular: 400;

// Responsive variables
@minViewWidthPx: 384px;
@minViewWidth: 384;
@maxViewWidth: 1920;
@viewWidthDiff: @maxViewWidth - @minViewWidth;

@minViewHeightPx: 216px;
@minViewHeight: 216;
@maxViewHeight: 1080;
@viewHeightDiff: @maxViewHeight - @minViewHeight;

.responsiveSizeW(@property, @minSize, @minSizePx, @maxSize) {
	//calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
	@sizeDiff: @maxSize - @minSize;
	@{property}: calc(
		@minSizePx + @sizeDiff * ((100vw - @minViewWidthPx) / (@viewWidthDiff))
	);
}

.responsiveSizeH(@property, @minSize, @minSizePx, @maxSize) {
	//calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
	@sizeDiff: @maxSize - @minSize;
	@{property}: calc(
		@minSizePx + @sizeDiff * ((100vh - @minViewHeightPx) / (@viewHeightDiff))
	);
}

.justify-text {
	text-align: justify;
	text-justify: inter-word;
}

.unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.textShadow {
	-webkit-filter: drop-shadow(5px 5px 10px @backgroundDark);
	filter: drop-shadow(5px 5px 10px @backgroundDark);
}

.light {
	font-weight: 200;
}

.transparentChecker {
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), @background;
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), @background;

    background: linear-gradient(45deg, rgba(128, 128, 128, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(128, 128, 128, 0.0980392) 75%, rgba(128, 128, 128, 0.0980392) 0), linear-gradient(45deg, rgba(128, 128, 128, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(128, 128, 128, 0.0980392) 75%, rgba(128, 128, 128, 0.0980392) 0), @background;
    background-repeat: repeat, repeat;
    background-position: 0px 0, 5px 5px;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-background-origin: padding-box, padding-box;
    background-origin: padding-box, padding-box;
    -webkit-background-clip: border-box, border-box;
    background-clip: border-box, border-box;
    -webkit-background-size: 10px 10px, 10px 10px;
    background-size: 10px 10px, 10px 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
    transform: scaleX(1) scaleY(1) scaleZ(1);
}
