<template lang="pug">
  v-app#app(dark)
    Navigation(v-if="!isLoginPage")
    v-content
      v-container#container(fluid align-content-center fill-height fill-width)
        loading(v-show="isLoading" title="Loading pixels...")
        router-view#routerView(v-show="!isLoading")
    Footer#appFooter
</template>

<script>
import Navigation from "@/components/Navigation";
import Tools from "@/components/Tools";
import Footer from "@/components/Footer";
import Loading from "@/components/Loading";

export default {
  name: "app",
  data() {
    return {};
  },
  components: {
    Navigation,
    Tools,
    Footer,
    Loading
  },
  created: function() {
    let self = this;
    this.$http.interceptors.response.use(undefined, function(err) {
      // eslint-disable-next-line no-unused-vars
      return new Promise(function(resolve, reject) {
        // Intercept 401 Unauthorized response (probably expired token)
        if (err.response && err.response.status) {
          switch (err.response.status) {
            case 401:
              {
                if (err.config && !err.config.__isRetryRequest && self.noty) {
                  if (self.isLoginPage) reject(err);
                  else {
                    self.$store.dispatch("logout");
                    self.noty = self.$noty.error(
                      "Looks like your login expired"
                    );
                    self.$store.commit("setLoading", false);
                    self.$router.push("/login");
                  }
                }
              }
              break;
            case 429:
              self.noty = self.$noty.warning(
                "Woah! You're doing that too much"
              );
              break;
            case 404: //pass this one on
              reject(err);
              break;
            case 400:
            case 500:
              self.noty = self.$noty.error("Yikes! We ran into an error");
              break;
            default:
              reject(err);
          }
        } else if (self.noty) {
          self.noty = self.$noty.error(
            "Pixall seems to be offline at the moment"
          );
        }
      });
    });
  },
  methods: {},
  computed: {
    isLoading() {
      return this.$store.getters.isLoading;
    },
    isLoginPage() {
      return this.$route.name == "login";
    },
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
    noty: {
      get() {
        return this.$store.getters.canNoty;
      },
      set(value) {
        this.$store.commit("setNoty", value);
      }
    }
  }
};
</script>

<style lang="less">
@import (reference) "./App.less";
@import (css) url("https://fonts.googleapis.com/css?family=Raleway|VT323");
/* Autofill override */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px @background inset !important;
}

input:-webkit-autofill,
.vc-input__label {
  -webkit-text-fill-color: @textColor !important;
}

body,
html {
  ::-webkit-scrollbar {
    width: 4px; /* Remove scrollbar space */
    background: @background; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: @backgroundLight;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
  .noScroll();
}

.noScroll {
  overflow: hidden;
  height: 100%;
}

#app {
  //font-family: "Raleway", sans-serif;
  font-family: "VT323", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  text-align: center;
}

#container {
  padding: 0;
}

a {
  &.router-link-exact-active {
    h4 {
      color: @primary;
    }
  }
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

h1,
h2,
h3 {
  color: @primary;
  font-weight: 400;
}

p,
h3,
h4,
h5 {
  color: @textColor;
}

h1 {
  .responsiveSizeW(font-size, 30, 30pt, 48);
}

h2 {
  .responsiveSizeW(font-size, 24, 24pt, 36);
}

h3 {
  .responsiveSizeW(font-size, 18, 18pt, 30);
}

.v-btn__content {
  font-weight: @semibold;
}

h4 {
  .responsiveSizeW(font-size, 12, 12pt, 24);
}

h5 {
  .responsiveSizeW(font-size, 12, 12pt, 18);
}

p,
.v-btn,
input,
.v-list__tile__title,
.vc-input__label {
  .responsiveSizeW(font-size, 12, 12pt, 14) !important;
}

span,
p,
h4,
h5 {
  .light();
}

// Style the vertical drawer divider
.v-navigation-drawer__border {
  background-color: rgba(174, 213, 129, 0.5);
}

.flip-list-move {
  transition: transform 0.3s;
}

.application.theme--dark .v-list,
.application.theme--dark .v-navigation-drawer,
.theme--dark.application,
.vc-sketch,
.v-card {
  background: @background !important;
}

.noty_layout {
  min-width: 200px;
  width: auto !important;
}

.noty_bar {
  -webkit-filter: drop-shadow(5px 5px 10px @backgroundDark);
  filter: drop-shadow(5px 5px 10px @backgroundDark);
  border: none !important;
  border-radius: 18px !important;
}

.noty_body {
  font-family: "Raleway", sans-serif !important;
  margin: 0 auto;
  text-align: center;
  padding-left: 25px !important;
  padding-right: 25px !important;
  color: @textColor;
  font-weight: @semibold !important;
}

.noty_type__ {
  &success {
    background-color: @success !important;
  }
  &error {
    background-color: @error !important;
  }
  &info {
    background-color: @info !important;
  }
  &warning {
    background-color: @warning !important;
  }
}
</style>
