<template lang="pug">
v-container(grid-list-sm fluid scroll-y class="mb-0 mt-0" ref="grid")
  v-layout(v-if="!isLoading && Object.keys(previews).length == 0" column fill-width fill-height justify-center align-center px-5)
    h3(class="mb-4") You haven't created any masterpieces yet. Start one now?
    v-btn(to="/" block style="width: 40%;" color="primary") Start a project
  v-layout(v-else row wrap)
    v-flex(v-for='(proj, index) in projects' :key='proj.pid' xs6 md4 lg3 d-flex @mouseover="hoverProject(proj.pid)" @mouseleave="unHoverProject()")
      v-card(class="pa-3")
        v-layout#hoverParent(v-show="hover == proj.pid" @click.stop="load(proj)" fill-height fill-width justify-center align-center class="transparentImage")
          v-layout#hoverTransparent(fill-height fill-width justify-center align-center)
          v-layout#hoveredArt(fill-height fill-width justify-center align-center :style="getBgStyle(proj)")
          v-layout#hoverButtons(column fill-height fill-width justify-space-between align-center)
            v-flex(xs6 @click.stop="load(proj)")
              v-layout(fill-height fill-width justify-end align-end)
                v-btn(@click.stop="load(proj)" color="primary") Open
                v-btn(@click.stop="download(proj)") Download
            v-flex(xs4 @click.stop="load(proj)")
              v-layout(justify-end align-center)
                v-btn(v-if="!confirmDelete" @click.stop="confirmDelete = true") Delete
                v-btn(v-else @click.stop="remove(index, proj)" color="error") Are you sure?
        v-layout(fill-height fill-width justify-center align-top)
          v-img(v-show="hover != proj.pid" contain :src="previews[proj.pid] ? previews[proj.pid].href : ''" class="transparentImage")
            template(v-slot:placeholder)
              v-layout(fill-height align-center justify-center ma-0)
                v-progress-circular(indeterminate color='primary')
</template>

<script>
export default {
  name: "Gallery",
  data() {
    return {
      projects: [],
      previews: {},
      hover: "",
      confirmDelete: false
    };
  },
  methods: {
    hoverProject(pid) {
      this.hover = pid;
    },
    unHoverProject() {
      this.hover = "";
      this.confirmDelete = false;
    },
    load(project) {
      this.$router.push({ path: "/", query: { pid: project.pid } });
    },
    getBgStyle(project) {
      if (project.pid == this.hover) {
        let url = this.previews[this.hover].href;
        return `background-image: url(${url}); width: 100%;`;
      }
      return "";
    },
    download(project) {
      let url = this.previews[project.pid];
      console.log(url);
      url.click();
    },
    remove(index, project) {
      if (this.confirmDelete) {
        this.projects.splice(index, 1);
        this.$store.dispatch("deleteProject", project);
        this.confirmDelete = false;
      }
    }
  },
  mounted() {
    var appNav = document.querySelector("#toolbar");
    var appFooter = document.querySelector("#appFooter");
    var height =
      appFooter.getBoundingClientRect().top -
      appNav.getBoundingClientRect().bottom;
    this.$refs.grid.style.maxHeight = height + "px";
  },
  created() {
    let self = this;
    this.$store.commit("setLoading", true);
    this.$store
      .dispatch("getProject", {})
      .then(resp => {
        self.projects = resp.data.projects;
        self.projects.forEach(proj => {
          self.$store
            .dispatch("download", { project: proj, multiplyBy: 5 })
            .then(url => {
              self.previews[proj.pid] = url;
            })
            .catch(err => console.log(err));
        });
      })
      .catch(err => {
        console.log(err);
      })
      .finally(() => self.$store.commit("setLoading", false));
  },
  computed: {
    isLoading() {
      return this.$store.getters.isLoading;
    }
  },
  watch: {}
};
</script>

<style lang="less">
@import (reference) "../App.less";

#hoveredArt {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hoverButtons {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transparentImage {
  .transparentChecker();
}

.minHeightCard {
  min-height: 460px;
}
</style>
