<template lang="pug">
  v-container#home(class="noScroll" fluid fill-height fill-width pa-0)
    v-layout(fill-height fill-width justify-center align-center)
      Editor(:key="pid")
</template>

<script>
import Editor from "@/components/Editor";

export default {
  name: "home",
  components: {
    Editor
  },
  props: {
    query: {
      type: Object,
      required: false,
      default: function() {
        return {};
      }
    }
  },
  data() {
    return {};
  },
  mounted() {
    if (this.validQuery()) {
      this.$store.commit("setLoading", true);
      this.$store
        .dispatch("getProject", { pid: this.query.pid })
        .then(resp => {})
        .catch(err => console.log(err))
        .finally(() => this.$store.commit("setLoading", false));
    }
  },
  methods: {
    validQuery() {
      return !!this.query.pid;
    }
  },
  computed: {
    pid() {
      return this.$store.getters.currentPid;
    }
  }
};
</script>

<style lang="less">
@import (reference) "../App.less";
</style>
