<template lang="pug">
  v-container(fluid fill-height fill-width pa-0)
    v-layout(v-if="!logout" column fill-height fill-width justify-center align-center)
      v-layout(row style="width: 100%;" fill-width justify-center align-center)
        v-flex(xs3 md2)
          logo(:spin="true" :glow="true" width="110px")
        v-flex(xs4 md2)
          v-layout(column justify-center align-center ml-5)
            h1#header(class="mb-0") Pixall
            p Free Pixel Art Editor
      login(:redirect="redirect")
    v-layout(v-else column fill-height fill-width justify-space-around align-center)
      loading(title="Logging out...")
</template>

<script>
import Login from "@/components/Login";
import Logo from "@/components/Logo";
import Loading from "@/components/Loading";

export default {
  name: "loginPage",
  data() {
    return {
      logout: this.logoutProp
    };
  },
  methods: {},
  components: {
    Login,
    Loading,
    Logo
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    }
  },
  props: {
    redirect: {
      type: Object,
      required: false,
      default: function() {
        return { path: "/" };
      }
    },
    logoutProp: Boolean
  },
  created() {
    let self = this;
    if (this.logoutProp) {
      if (this.isLoggedIn)
        this.$store
          .dispatch("logout")
          .then(resp => {
            this.logout = false;
            self.$router.push("/login");
            self.$noty.success("You've logged out. We miss you already");
          })
          .catch(err => {
            self.$noty.error(
              "Yikes! There was an error while logging out. We'll get right on that."
            );
          });
      else {
        this.$router.push("/login");
        this.logout = false;
      }
    } else if (this.isLoggedIn) {
      this.$router.push("/");
    }
  }
};
</script>

<style lang="less">
@import (reference) "../App.less";

#header {
  .textShadow();
}
</style>
