<template lang="pug">
  v-layout#editLayout(column fill-height fill-width)
    canvas#drawingCanvas(@contextmenu='contextnoop'
                        @mousedown='onmousedown'
                        @touchtart='onmousedown'
                        @mouseup='onmouseup'
                        @touchend='onmouseup'
                        @mousemove='onmousemove'
                        @touchmove='onmousemove'
                        @wheel='onmousewheel')
    v-card#options(class="px-3")
      v-layout(fill-width fill-height justify-space-between align-center)
        v-flex(xs2 class="px-2")
          v-text-field(v-model="numCols" hide-details label="Width" type="number")
        v-flex(xs2 class="px-2")
          v-text-field(v-model="numRows" hide-details label="Height" type="number")
        v-flex(v-for="(button, index) in buttons" :key="button.name")
          v-btn(@click="currentTool = button.name" flat :color="currentTool == button.name ? 'white' : 'grey'")
            v-icon {{ button.icon }}
        v-flex()
          v-menu(v-model="show_color_picker" :close-on-content-click="false" offset-x)
            template(v-slot:activator="{ on }")
              v-btn(v-on="on" flat)
                v-icon(:color="currentColor") fa-palette          
            v-card
              color-picker(:value="currentColor" @input="saveColor")
</template>

<script>
import { Sketch } from "vue-color";
import Camera from "./Camera.js";
import { setTimeout } from "timers";

export default {
  name: "Editor",
  components: {
    "color-picker": Sketch
  },
  data: function() {
    return {
      buttons: [
        {
          tooltip: "Draw",
          name: "brush",
          icon: "fa-pencil-ruler"
        },
        {
          tooltip: "Erase",
          name: "eraser",
          icon: "fa-eraser"
        },
        {
          tooltip: "Fill",
          name: "fill",
          icon: "fa-fill"
        }
      ],
      show_color_picker: false,
      mouse: {
        previous: {
          x: 0,
          y: 0
        },
        current: {
          x: 0,
          y: 0
        },
        isDown: false
      },
      shouldDrawGrid: true,
      pixelSize: 100
    };
  },
  mounted() {
    var canvas = document.getElementById("drawingCanvas");
    var ctx = canvas.getContext("2d");
    this.canvas = canvas;
    this.ctx = ctx;
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight - 100;
    window.onresize = () => {
      this.canvas.width = window.innerWidth;
      this.canvas.height = window.innerHeight - 100;
      this.draw();
    };
    // Keeps track of which keys are down
    this.keys = [];
    window.addEventListener("keydown", this.onkeydown);
    window.addEventListener("keyup", this.onkeyup);
    this.camera = new Camera(this.canvas.width / 2, this.canvas.height / 2);
    this.center();
    this.draw();
  },
  computed: {
    currentTool: {
      set(value) {
        this.$store.commit("setCurrentTool", value);
      },
      get() {
        return this.$store.getters.currentTool;
      }
    },
    currentColor: {
      set(value) {
        this.$store.commit("setCurrentColor", value);
      },
      get() {
        return this.$store.getters.currentColor;
      }
    },
    numCols: {
      set(value) {
        if (value < 1) value = 1;
        this.$store.commit("setNumCols", value);
        this.draw();
        this.center();
      },
      get() {
        return this.$store.getters.numCols;
      }
    },
    numRows: {
      set(value) {
        if (value < 1) value = 1;
        this.$store.commit("setNumRows", value);
        this.draw();
        this.center();
      },
      get() {
        return this.$store.getters.numRows;
      }
    },
    image: {
      set(value) {
        this.$store.commit("setImageArray", value);
      },
      get() {
        return this.$store.getters.imageArray;
      }
    }
  },
  methods: {
    saveColor(color) {
      this.currentColor = color.hex;
    },
    contextnoop: function(event) {
      // Prevent right click menu from showing up
      event.preventDefault();
    },
    onmousedown: function(event) {
      this.mouse.previous = {
        x: this.mouse.current.x,
        y: this.mouse.current.y
      };
      this.mouse.current = {
        x: event.offsetX,
        y: event.offsetY
      };
      this.mouse.isDown = true;
    },
    onmouseup: function(event) {
      this.mouse.previous = {
        x: this.mouse.current.x,
        y: this.mouse.current.y
      };
      this.mouse.current = {
        x: event.offsetX,
        y: event.offsetY
      };
      if (this.mouse.isDown) {
        if (event.which === 1) {
          var coords = this.camera.toMapCoords(
            this.canvas,
            this.mouse.current.x,
            this.mouse.current.y
          );

          if (
            coords.x < this.numCols * this.pixelSize &&
            coords.x >= 0 &&
            coords.y < this.numRows * this.pixelSize &&
            coords.y >= 0
          ) {
            if (this.currentTool === "brush") {
              var coords = this.camera.toMapCoords(
                this.canvas,
                this.mouse.current.x,
                this.mouse.current.y
              );
              if (!this.image[Math.floor(coords.x / this.pixelSize)]) {
                this.image[Math.floor(coords.x / this.pixelSize)] = [];
              }
              this.image[Math.floor(coords.x / this.pixelSize)][
                Math.floor(coords.y / this.pixelSize)
              ] = this.currentColor;
            } else if (this.currentTool === "eraser") {
              var coords = this.camera.toMapCoords(
                this.canvas,
                this.mouse.current.x,
                this.mouse.current.y
              );
              if (this.image[Math.floor(coords.x / this.pixelSize)]) {
                delete this.image[Math.floor(coords.x / this.pixelSize)][
                  Math.floor(coords.y / this.pixelSize)
                ];
              }
            } else if (this.currentTool === "fill") {
              var coords = this.camera.toMapCoords(
                this.canvas,
                this.mouse.current.x,
                this.mouse.current.y
              );
              var i = Math.floor(coords.x / this.pixelSize);
              var j = Math.floor(coords.y / this.pixelSize);
              var prevColor;
              if (!this.image[i]) {
                this.image[i] = [];
              }
              if (!this.image[i][j]) {
                prevColor = "#000";
              } else {
                prevColor = this.image[i][j];
              }
              if (this.image[i][j] !== this.currentColor) {
                this.fill(i, j, prevColor, this.currentColor);
              }
            }

            this.draw();
          }
        }
      }
      this.mouse.isDown = false;

      // Stupid hack because i am bad
      this.image = this.image;
    },
    onmousemove: function(event) {
      this.mouse.previous = {
        x: this.mouse.current.x,
        y: this.mouse.current.y
      };
      this.mouse.current = {
        x: event.offsetX,
        y: event.offsetY
      };
      if (this.mouse.isDown) {
        var coords = this.camera.toMapCoords(
          this.canvas,
          this.mouse.current.x,
          this.mouse.current.y
        );

        if (event.which === 1) {
          if (
            coords.x < this.numCols * this.pixelSize &&
            coords.x >= 0 &&
            coords.y < this.numRows * this.pixelSize &&
            coords.y >= 0
          ) {
            if (this.currentTool === "brush") {
              var coords = this.camera.toMapCoords(
                this.canvas,
                this.mouse.current.x,
                this.mouse.current.y
              );
              if (!this.image[Math.floor(coords.x / this.pixelSize)]) {
                this.image[Math.floor(coords.x / this.pixelSize)] = [];
              }
              this.image[Math.floor(coords.x / this.pixelSize)][
                Math.floor(coords.y / this.pixelSize)
              ] = this.currentColor;
            } else if (this.currentTool === "eraser") {
              var coords = this.camera.toMapCoords(
                this.canvas,
                this.mouse.current.x,
                this.mouse.current.y
              );
              if (this.image[Math.floor(coords.x / this.pixelSize)]) {
                delete this.image[Math.floor(coords.x / this.pixelSize)][
                  Math.floor(coords.y / this.pixelSize)
                ];
              }
            } else if (this.currentTool === "fill") {
              var coords = this.camera.toMapCoords(
                this.canvas,
                this.mouse.current.x,
                this.mouse.current.y
              );
              var i = Math.floor(coords.x / this.pixelSize);
              var j = Math.floor(coords.y / this.pixelSize);
              var prevColor;
              if (!this.image[i]) {
                this.image[i] = [];
              }
              if (!this.image[i][j]) {
                prevColor = "#000";
              } else {
                prevColor = this.image[i][j];
              }
              if (this.image[i][j] !== this.currentColor) {
                this.fill(i, j, prevColor, this.currentColor);
              }
            }

            this.draw();
          }
        } else if (event.which === 2) {
          this.camera.move(
            this.mouse.previous.x - this.mouse.current.x,
            this.mouse.previous.y - this.mouse.current.y
          );

          this.draw();
        }
      }
    },
    onmousewheel: function(event) {
      event.preventDefault();
      var delta = 0;
      this.mouse.previous = {
        x: this.mouse.current.x,
        y: this.mouse.current.y
      };
      this.mouse.current = {
        x: event.offsetX,
        y: event.offsetY
      };
      if (this.keys["ControlLeft"]) {
        delta = event.deltaY / 20;
        if (delta) {
          var factor = Math.pow(1.1, -delta);
          this.camera.scaleToPoint(
            this.canvas,
            factor,
            event.offsetX,
            event.offsetY
          );
          this.draw();
        }
      } else {
        this.camera.move(event.deltaX, event.deltaY);
        this.draw();
      }
    },
    onkeydown: function(event) {
      this.keys[event.code] = true;
    },
    onkeyup: function() {
      this.keys[event.code] = false;
    },
    draw: function() {
      let self = this;
      setTimeout(function() {
        self.camera.apply(self.canvas, self.ctx);
        // Draw grid for pixels
        if (self.shouldDrawGrid) {
          self.ctx.save();
          for (var i = 0; i < self.numCols; i++) {
            for (var j = 0; j < self.numRows; j++) {
              if ((i + j) % 2 === 0) {
                self.ctx.fillStyle = "#fff";
              } else {
                self.ctx.fillStyle = "#A9A9A9";
              }
              self.ctx.fillRect(
                i * self.pixelSize,
                j * self.pixelSize,
                self.pixelSize,
                self.pixelSize
              );
            }
          }
          self.ctx.restore();
        }
        // Draw pixels
        self.ctx.save();
        for (var i = 0; i < self.numCols; i++) {
          for (var j = 0; j < self.numRows; j++) {
            if (self.image[i] && self.image[i][j]) {
              self.ctx.fillStyle = self.image[i][j];
              self.ctx.fillRect(
                i * self.pixelSize,
                j * self.pixelSize,
                self.pixelSize,
                self.pixelSize
              );
            }
          }
        }
        self.ctx.restore();
        self.camera.remove(self.ctx);
      }, 0);
    },
    center: function() {
      // Move to center
      var drawingWidth = this.numCols * this.pixelSize;
      var drawingHeight = this.numRows * this.pixelSize;
      this.camera.moveTo(drawingWidth / 2, drawingHeight / 2);
      // And zoom out so you can see the whole image, with padding
      var zoomOut = Math.max(
        drawingWidth / this.canvas.width,
        drawingHeight / this.canvas.height
      );
      this.camera.scale = 1 / (1.25 * zoomOut);
      this.draw();
    },
    fill: function(i, j, prev, curr) {
      // Make sure i and j are within bounds
      if (i >= 0 && i < this.numRows && j >= 0 && j < this.numCols) {
        if (!this.image[i]) {
          this.image[i] = [];
        }
        if (
          (!this.image[i][j] && prev === "#000") ||
          this.image[i][j] === prev
        ) {
          this.image[i][j] = curr;
          // Recurse outward
          this.fill(i + 1, j, prev, curr);
          this.fill(i - 1, j, prev, curr);
          this.fill(i, j + 1, prev, curr);
          this.fill(i, j - 1, prev, curr);
        }
      }
    },
    download: function(scalar) {}
  }
};
</script>

<style lang="less">
@import (reference) "../App.less";

#drawingCanvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#options {
  bottom: 70px;
  margin: auto;
  background-color: @background !important;
  padding: 0;
  height: 60px;
  .textShadow();

  .v-btn {
    margin: 0;
    padding: 0px;
  }
}

#editLayout {
  .transparentChecker();
}
</style>
