<template lang="pug">
  v-footer#footer(app)
    v-card#footerCard(width="100%" height="85%")
      v-layout(fill-width fill-height justify-space-between align-center)
        v-flex(xs4 just)
          a(href="http://pixall.top") 
            p www.pixall.top 
        v-flex(xs4 just)
          p#copyr(class="ma-0 pa-0 inline") &copy;2019
        v-flex(xs4)
          a(href="mailto:admin@pixall.top") 
            p Contact Us
</template>

<style scoped lang="less">
@import (reference) "../App.less";
p {
  margin: 0;
  padding: 0;
}

#footerCard {
  background-color: @background;
}

#footer {
  min-height: 40px;
}
</style>
