<template lang="pug">
  v-layout(column fill-height fill-width justify-space-around align-center)
    v-flex(xs2)
      logo(:spin="true" :glow="true" width="80%")
    v-flex(xs2)
      h2#logout(class="mb-0") {{ title }}
</template>

<script>
import Logo from "@/components/Logo";
export default {
  name: "loading",
  components: {
    Logo
  },
  props: {
    title: String
  }
};
</script>

<style lang="less">
@import (reference) "../App.less";

#logout {
  color: @textColor;
}
</style>
