<template lang="pug">
  v-layout(justify-start align-center column style="width: 70%;" py-0)
    h2#greeting(class="mb-0" @click="updateGreeting()") {{ loginGreeting }}
    div(class="mb-2")
      p(style="visibility: hidden; margin-top: -20px;") We've sent a temporary code to your email. Please paste it below.
      v-text-field(v-validate="'required|email'" 
                  name="email" 
                  type="text" 
                  v-model="email" 
                  browser-autocomplete 
                  clearable 
                  :loading="codeLoading"
                  label="Enter your email" 
                  required
                  autofocus
                  :hint="errors.first('email')" 
                  :error="errors.has('email')"
                  @keyup.enter.native="generateCode()"
                  @change="resetCodeState()"
                  @click:clear="resetCodeState()")
      v-btn(v-if="!codeRequested" 
            color="primary" 
            block
            :disabled="!email || errors.has('email')" 
            @click="generateCode()") Continue with {{ getStep() }}
    div(:style="{visibility: codeRequested ? 'visible' : 'hidden'}")
      p We've sent a temporary code to your email. Please paste it below.
      v-btn(color="primary" 
            block
            flat
            @click="resendCode()" class="mb-4") Resend Code
      v-text-field(name="code" 
                  type="text"
                  ref="code"
                  v-model="code" 
                  clearable 
                  label="Enter your login code"
                  @keyup.enter.native="validateCode()"
                  required
                  :hint="errors.first('code')" 
                  :error="errors.has('code')")
      span#errorMessage(v-show="codeError") {{authErrorMessage}}
      v-btn(color="primary" 
            block 
            @click="validateCode()") Continue with {{ getStep() }}
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      email: null,
      codeRequested: false,
      codeLoading: false,
      codeError: false,
      authErrorMessage: "",
      greetings: [
        "Let's get started",
        "Wait, who are you?",
        "Well, look who it is!",
        "Howdy! What's your email?",
        "It's nice to meet you...",
        "Hold your horses, stranger",
        "Ahoy! Sign in, matey"
      ],
      greetingIndex: -1,
      loginGreeting: "",
      code: null,
      noty: null
    };
  },
  props: {
    redirect: {
      type: Object,
      required: false,
      default: function() {
        return { path: "/" };
      }
    }
  },
  methods: {
    updateGreeting() {
      this.greetingIndex = (this.greetingIndex + 1) % this.greetings.length;
      this.loginGreeting = this.greetings[this.greetingIndex];
    },
    getStep() {
      return this.codeRequested ? "Code" : "Email";
    },
    generateCode() {
      let email = this.email;
      this.codeLoading = "loading2";
      let self = this;
      self.codeRequested = true;
      this.$nextTick(this.$refs.code.focus);
      this.login({ email }, function() {
        self.codeLoading = false;
      });
    },
    validateCode() {
      let email = this.email;
      let code = this.code;
      let routerTarget = this.redirect;
      let self = this;
      if (code) {
        this.login({ email, code }, function(resp) {
          self.codeError = false;
          if (self.code) self.$router.push(routerTarget);
          let message = resp.data.message;
          if (message)
            self.noty = self.$noty.success(message);
        });
      }
    },
    login(credentials, callback) {
      let self = this;
      this.$store
        .dispatch("login", credentials)
        .then(callback)
        // eslint-disable-next-line no-unused-vars
        .catch(err => {
          let resp = err.response;
          if (resp && resp.status) {
            switch (resp.status) {
              case 401:
                self.noty = self.$noty.error("That code wasn't right");
                break;
            }
          }
          self.codeError = true;
          self.codeLoading = false;
        });
    },
    resendCode() {
      this.codeError = false;
      this.generateCode();
    },
    resetCodeState() {
      if (this.noty) this.noty.close();
      this.codeError = false;
      this.codeRequested = false;
      this.code = null;
    }
  },
  computed: {},
  created() {
    this.updateGreeting();
  }
};
</script>

<style lang="less">
@import (reference) "../App.less";

h1 {
  margin-bottom: 20px;
  white-space: nowrap;
}

#errorMessage {
  color: @error;
}

#greeting {
  .textShadow();
  .unselectable();
  color: @textColor;
}
</style>
