<template lang="pug">
  img(src="@/assets/logo.svg" :width="width" :class="(spin ? 'spin' : '') + ' ' + (glow ? 'logo' : '')")
</template>
<script>
export default {
  name: "logo",
  props: {
    spin: Boolean,
    glow: Boolean,
    width: String
  }
};
</script>
<style lang="less">
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotate(359deg) scale(1);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotate(359deg) scale(1);
  }
}

.logo {
  -webkit-filter: drop-shadow(0px 0px 50px rgba(170, 87, 235, 0.7));
  filter: drop-shadow(0px 0px 50px rgba(170, 87, 235, 0.7));
}

.spin {
  -webkit-animation: spin 6s infinite linear;
  animation: spin 6s infinite linear;
}
</style>
