<template lang="pug">
  v-toolbar#toolbar(app dark fixed clipped-right flat align-center px-0)
    v-layout(row align-center justify-center px-5)
      v-flex(xs8)
        v-layout(row justify-start align-center @click="$router.push('/login')")
          logo(:spin="true" :glow="false" width="40px")
          h3#title(class="mb-0") Pixall Editor
      v-flex(xs4)
        v-layout(row justify-center align-center)
          v-btn(flat @click="saveProject(true)" v-show="isEditor")
            v-icon fa-save
          v-btn(to='/gallery' flat)
            v-icon fa-th
          v-menu(offset-y)
            template(v-slot:activator="{ on }")
              v-btn(flat v-on="on")
                v-icon fa-bars
            v-list
              v-list-tile(v-for="(item, index) in menuItems" @click="item.onclick" :key="item.title")
                v-layout(row justify-space-between align-center)
                  v-flex(xs10)
                    v-list-tile-title(class="mr-5") {{ item.title }}
                  v-flex(xs2)
                    v-icon(small) {{ item.icon }}

</template>

<script>
import Logo from "@/components/Logo";

export default {
  name: "navigation",
  props: {
    msg: String
  },
  components: {
    Logo
  },
  data() {
    return {
      isLoading: false,
      menuItems: [
        {
          title: "New Project",
          icon: "fa-plus",
          onclick: this.newProject
        },
        {
          title: "Full Screen",
          icon: "fa-expand",
          onclick: this.fullscreen
        },
        {
          title: "Download",
          icon: "fa-cloud-download-alt",
          onclick: this.download
        },
        {
          title: "Logout",
          icon: "fa-sign-out-alt",
          onclick: this.logout
        }
      ]
    };
  },
  computed: {
    numCols: {
      set(value) {
        return this.$store.commit("setNumCols", value);
      },
      get() {
        return this.$store.getters.numCols;
      }
    },
    numRows: {
      set(value) {
        return this.$store.commit("setNumRows", value);
      },
      get() {
        return this.$store.getters.numRows;
      }
    },
    image: {
      set(value) {
        return this.$store.commit("setImageArray", value);
      },
      get() {
        return this.$store.getters.imageArray;
      }
    },
    isEditor() {
      return this.$route.name == "home";
    }
  },
  methods: {
    saveProject(notify) {
      if (notify) this.$noty.info("Saving your masterpiece...");
      this.$store
        .dispatch("updateProject")
        .then(resp => {
          if (notify) this.$noty.success("Saved!");
        })
        .catch(err => {
          console.log(err);
        });
    },
    newProject() {
      let edits = this.$store.getters.madeEdits;
      console.log(this.isEditor);
      console.log(this.$route.name);
      if (edits || !this.isEditor) {
        this.$store.commit("setLoading", true);
        if (edits) this.saveProject(false);
        this.$store.dispatch("newProject").finally(() => {
          this.$store.commit("setLoading", false);
          console.log(this.$store.getters.currentProject);
          if (!this.isEditor) this.$router.push({ name: "home", query: null });
        });
      }
    },
    download() {
      this.$store
        .dispatch("download", { project: false, multiplyBy: 50 })
        .then(url => url.click());
    },
    fullscreen() {},
    logout() {
      this.$router.push("/logout");
    },
    buttonclick(tool) {
      this.$store.commit("setCurrentTool", tool);
    },
    getCurrentColor() {
      return this.$store.getters.getCurrentColor;
    }
  },
  watch: {}
};
</script>

<style scoped lang="less">
@import (reference) "../App.less";

#toolbar {
  background-color: @background;
  .textShadow();
}
#title {
  color: white !important;
  display: inline;
  padding-left: 10px;
}
.header {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.11);
  width: 100%;
}
.header h4 {
  color: white !important;
  text-transform: lowercase;
}

.logo {
  margin-bottom: -25px;
  padding-bottom: 20px;
  height: calc(35px + 3vh);
}

#footer {
  display: fixed;
  bottom: 0;
}
</style>
