<template lang="pug">
  v-bottom-nav
    v-overflow-btn(:items="dropdown_font"
      label="Select font"
      hide-details
      class="pa-0")
</template>
<script>
export default {
  name: "tools"
};
</script>
